/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
font-family: 'Barlow Condensed', sans-serif;
color: white;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: white;
}

img {
	width: 100%;
}
:root {
	--primary-color: #161C2A;
}
/******************************************
/* LAYOUT
/*******************************************/

/* -----------------UTILITIES-------------  */
.container {
	max-width: 2000px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;

}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 600px;
}
.card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 5px 15px 5px rgba(0,0,0,0.2);
	padding: 20px;
	margin: 10px;
	height: 550px;
	width: 100%;
	position: relative;
	top: 100px;
	z-index: 1;
}
button {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background: #DF262C;
	color: white;
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 180px;
	font-size: 20px;
}
button:hover {
	transform: scale(0.98);
}

/* -------------NAVBAR-------------------  */
.navbar {
	color: white;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 125px;
}
.navbar ul {
	display: flex;
}
.navbar a {
	color: white;
	padding: 0 12px;
	margin: 0 5px;
	font-size: 20px;
}
.navbar a:hover {
	color: white;
	border-bottom: 5px solid red;
}
.logo {
	width: 12%;
	padding-top: 100px;
}
.navButton {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background: #DF262C;
	color: white;
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 100px;
	font-size: 14px;
	padding-bottom: 15px;
}
button:hover {
	transform: scale(0.98);
}
/* -----------------socialLinks----------------  */
.socialLinks {
width: 100%;
height: 50px;
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 114px;
}
.socialLinksList {
	display: flex;
	align-items: center;
}
.socialLinksList li {
	margin: 10px;
}
.socialLinksList li a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 5px;
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(4px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.socialLinksList li a:hover {
	background: white;
	color: red;
}

/* -------------SHOWCASE ALI--------------------  */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background-image: url(../images/ali-boxing_01.jpg);
  background-size: cover;
	background-position: left;
	height: 800px;
}
.showcase-text {
	padding-top: 100px;
}
.showcase {
	height: 770px;
	color: white;
	position: relative;
}
 h1 {
	font-size: 78px;
	font-weight: 500;
	text-shadow: 3px 3px 5px black;
}
.showcase p {
	font-size: 20px;
	font-weight: 400;
	margin: 20px 0;
	padding-right: 250px;
	text-shadow: 3px 3px 5px black;
	line-height: 25px;
}
.showcase .grid {
	overflow: visible;
	gap: 30px;
}
.showcase::before,
.showcase::after {
	content: '';
	position: absolute;
	height: 100px;
	bottom: -40px;
	right: 0;
	left: 0;
	background-image: url(../images/mexican-flag-green.jpg);
	transform: skewY(-2deg);
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	border-top: 5px solid gray;
}
.slider {
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.slides {
	width: 500%;
	height: 500px;
	display: flex;
}
.slides input {
	display: none;
}
.slide {
	width: 24%;
	transition: 2s;
}
.slide img {
	width: 100%;
	height: 100%;
}
/* css for manual slide navigation */
.navigation-manual {
	positon: absolute;
	width: 100%;
	margin: -30px 0 0 0;
	display: flex;
	justify-content: center;
}
.manual-btn {
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(last-child){
	margin-right: 20px;
}
.manual-btn:hover {
	background: black;
}
#radio1:checked ~ .first {
	margin-left: 0;
}
#radio2:checked ~ .first {
	margin-left: -28%;
}
#radio3:checked ~ .first {
	margin-left: -50%;
}
#radio4:checked ~ .first {
	margin-left: -75%;
}

/* ------------------GREEN FLAG------------------------  */
.greenFlag {
	width: 100%;
	height: 800px;
	background-image: url(../images/mexican-flag-green.jpg);
	position: relative;
	display: flex;
	flex-direction: column;
}

/* -----------------GREEN FLAG TITLE--------------  */
.greenFlagTitle {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ------------------GLOVES------------------------ */
.gloves {
width: 100%;
height: 660px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.cardGreen {
	position: relative;
	width: 400px;
	height: 500px;
	margin: 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
.imgBx {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	transition: 0.5s ease-in-out;
}
.cardGreen:hover .imgBx {
	transform: translateY(-100px);
}
.imgBx img {
	max-width: 100%;
	margin: 0 0 20px;
	transition: 0.5s ease-in-out;
}
.cardGreen:hover .imgBx img {
	transform: translate(-20px,-40px) scale(1.5);
}
.cardGreen .imgBx h2 {
	color: white;
	font-size: 36px;
	font-weight: 600;
	text-shadow: 2px 2px 2px black;
}
.contentGreen {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s ease-in-out;
	opacity: 0;
	visibility: hidden;
}
.cardGreen:hover .contentGreen {
	opacity: 1;
	visibility: visible;
	transform: translateY(-1px);
}
.weight, .color{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
}
.weight h3, .color h3 {
	color: white;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-right: 10px;
}
.weight span {
	width: 32px;
	height: 26px;
	text-align: center;
	line-height: 24px;
	display: inline-block;
	color: black;
	background: white;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 5px;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
}
.weight span:hover {
	background: red;
	color: white;
}
.color span {
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	margin: 0 5px;
	border: 2px solid white;
	box-sizing: border-box;
	cursor: pointer;
}
.color span:nth-child(2) {
	background: red;
}
.color span:nth-child(3) {
	background: yellow;
}
.color span:nth-child(4) {
	background: black;
}
.contentGreen a {
	position: relative;
	top: 10px;
	display: inline-block;
	padding: 12px 30px;
	background: white;
	border-radius: 40px;
	font-weight: 600;
	letter-spacing: 1px;
	color: black;
	text-decoration: none;
}
.contentGreen a:hover {
	transform: scale(0.98);
	background: red;
	color: white;
}
/* -------------SHOWCASE-TYSON------------------------------ */
.showcase-2 {
	width: 100%;
	height: 800px;
	background-image: url(../images/tyson-boxing.jpg);
  background-size: cover;
	border-top: 5px solid gray;
	color: white;
	position: relative;
}
.showcase2-text {
	padding: 300px 0 0 40px;
}
.showcase-2 p {
	font-size: 20px;
	font-weight: 400;
	margin: 20px 0;
	padding-right: 200px;
	text-shadow: 3px 3px 5px black;
	line-height: 25px;
}
.showcase-2 .grid {
	overflow: visible;
	gap: 30px;
}
.card2 {
	background: white;
	border-radius: 10px;
	box-shadow: 0 5px 15px 5px rgba(0,0,0,0.2);
	padding: 20px;
	margin: 10px;
	height: 550px;
	width: 100%;
	position: relative;
	top: 200px;
	z-index: 1;
}
.showcase-2::before,
.showcase-2::after {
	content: '';
	position: absolute;
	height: 100px;
	bottom: -40px;
	right: 0;
	left: 0;
	background-image: url(../images/mexican-flag-white-top.jpg);
	background-position: center;
	transform: skewY(2deg);
	-webkit-transform: skewY(2deg);
	-moz-transform: skewY(2deg);
	-ms-transform: skewY(2deg);
	border-top: 5px solid gray;
}
.manual-btn2 {
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn2:not(last-child){
	margin-right: 20px;
}
.manual-btn2:hover {
	background: white;
}
#radio5:checked ~ .first {
	margin-left: 0;
}
#radio6:checked ~ .first {
	margin-left: -25%;
}
#radio7:checked ~ .first {
	margin-left: -48%;
}
#radio8:checked ~ .first {
	margin-left: -73%;
}

/* ------------------WHITE FLAG------------------------  */
.whiteFlag {
	width: 100%;
	height: 800px;
	background-image: url(../images/mexican-flag-white.jpg);
	background-position: center;
	border: 1px solid lightgray;
}
.whiteFlagTitle {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.equipment {
	position: relative;
	width: 100%;
	height: 660px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transform-style: preserve-3d;
}
.box {
	position: relative;
	width: 400px;
	height: 500px;
	margin: 40px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transform-style: preserve-3d;
}
.box:before {
	content: 'CLETO';
	position: absolute;
	top: 20px;
	left: 100px;
	font-size: 6em;
	font-weight: 700;
	color: black;
	font-style: italic;
	opacity: 0;
}
.box:hover::before, .box:hover::after {
	opacity: 0.04;
}
.box:after {
	content: 'REYES';
	position: absolute;
	bottom: 20px;
	left: 100px;
	font-size: 6em;
	font-weight: 700;
	color: black;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}
.name {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: white;
	font-size: 36px;
	font-weight: 600;
	text-shadow: 2px 2px 2px black;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0,0,75px);
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
.box:hover .name {
	top: 40px;
	opacity: 1;
}
.buy {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform-style: preserve-3d;
	transform: translate3d(-50%,0,75px);
	color: white;
	font-weight: 600;
	background: #333;
	padding: 10px 25px;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
.buyMiddle {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform-style: preserve-3d;
	transform: translate3d(-50%,0,75px);
	color: black;
	font-weight: 600;
	background: white;
	padding: 10px 25px;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
.box:hover .buy {
	bottom: 30px;
	opacity: 1;
}
.box:hover .buyMiddle {
	bottom: 30px;
	opacity: 1;
}
.product {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 300px;
	transition: 0.5s;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,0px);
}
.box:hover .product {
	transform: translate3d(-50%,-50%,150px);
}
.box:nth-child(1) .circle, .box:nth-child(1) .buy {
	background: #265B3F;
}
.box:nth-child(2) .circle, .box:nth-child(2) .buyMiddle {
	background: white;
}
.box:nth-child(3) .circle, .box:nth-child(3) .buy {
	background: #A10029;
}

/* ----------------SHOWCASE-PACQUIAO--------------------- */
.showcase-3 {
	width: 100%;
	height: 800px;
	background-image: url(../images/pac_03.jpg);
  background-size: cover;
	background-position: bottom;
	color: white;
	position: relative;
	border-top: 5px solid gray;
}
.showcase3-text {
	padding: 300px 0 0 0;
}
.showcase-3 p {
	font-size: 20px;
	font-weight: 400;
	margin: 20px 0;
	padding-right: 200px;
	text-shadow: 3px 3px 5px black;
	line-height: 25px;
}
.showcase-3 .grid {
	overflow: visible;
	gap: 30px;
}
.card3 {
	background: white;
	border-radius: 10px;
	box-shadow: 0 5px 15px 5px rgba(0,0,0,0.2);
	padding: 20px;
	margin: 10px;
	height: 550px;
	width: 100%;
	position: relative;
	top: 220px;
	z-index: 1;
}
.showcase-3::before,
.showcase-3::after {
	content: '';
	position: absolute;
	height: 100px;
	bottom: -40px;
	right: 0;
	left: -12px;
	background-image: url(../images/mexican-flag-red-top.jpg);
	transform: skewY(-2deg);
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	border-top: 5px solid gray;
}
#radio9:checked ~ .first {
	margin-left: 0;
}
#radio10:checked ~ .first {
	margin-left: -25%;
}
#radio11:checked ~ .first {
	margin-left: -51%;
}
#radio12:checked ~ .first {
	margin-left: -75%;
}
/* ------------------RED FLAG------------------------  */
.redFlag {
	width: 100%;
	height: 800px;
	background-image: url(../images/mexican-flag-red.jpg);
	border: 1px solid lightgray;
}
.redFlagTitle {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.redFlagEvents {
	width: 100%;
	height: 660px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.redColumn1 {
	width: 25%;
	height: 660px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -50px;
}
.redColumn2 {
	width: 75%;
	height: 660px;
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 75px 250px 0 250px;
}
.redColumn2 p {
	font-size: 20px;
	font-weight: 400;
	text-shadow: 3px 3px 5px black;
	line-height: 25px;
	margin-top: 20px;
}
.redBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 500px;
	margin: 40px;
	background: rgba(255, 255, 255, 0.02);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
.redFlagEvents li {
	font-size: 36px;
	color: white;
	text-shadow: 2px 2px 2px black;
	padding: 10px 0;
	cursor: pointer;
}
.redColumn2 img {
	width: 50%;
}
.hidden{
	display: none;
}

/* ---------------------FOOTER-------------------- */
.showcase-4 {
	width: 100%;
	height: 800px;
	background-image: url(../images/chavez_05.jpg);
  background-size: cover;
	background-position: right;
	color: white;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.showcase-4::before,
.showcase-4::after {
	content: '';
	position: absolute;
	height: 100px;
	top: -40px;
	right: 0;
	left: 0;
	background-image: url(../images/mexican-flag-red-bottom.jpg);
	transform: skewY(2deg);
	-webkit-transform: skewY(2deg);
	-moz-transform: skewY(2deg);
	-ms-transform: skewY(2deg);
	border-bottom: 5px solid gray;
}
.footer-column1, .footer-column2, .footer-column3 {
  width: 33.3333%;
  height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 100px 50px 0 200px;
}
.footer-column1 h4, .footer-column2 h4, .footer-column3 h4 {
	font-size: 34px;
	font-weight: 700;
	color: #FF0000;
	-webkit-text-stroke: 1px gray;
	text-shadow: 2px 2px 2px black;
}
.footer-column1 img {
	width: 75%;
	margin: 20px auto;
}
.footer-column2 ul {
	margin: 30px 0;
}
.footer-column2 li {
	padding: 10px 0;
	font-size: 22px;
	color: white;
	text-shadow: 2px 2px 2px black;
	border-bottom: 1px solid gray;
}
.footer-column2 a:hover {
	color: red;
}
.footer-column2 h5 {
	font-size: 22px;
	color: white;
	text-shadow: 2px 2px 2px black;
	border-bottom: 1px solid gray;
	margin-top: 20px;
	padding: 10px 0;
}

.footer-column3 p {
	font-size: 22px;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin: 40px 0 10px 0;
}
.footer-column3 input {
	height: 30px;
	width: 250px;
	margin-bottom: 20px;
}


/******************************************
/* MEDIA QUERIES
/*******************************************/
/* ------------------MEDIA QUERY-DESKTOP---------------------- */

@media screen and (min-width: 1400px) and (max-width: 1650px) {

	/* -------------NAVBAR-------------------  */
	.navbar {
		padding: 0 30px;
	}

	.navbar a {
		padding: 0 10px;
	}
	.logo {
		width: 15%;
	}

	/* -----------------socialLinks----------------  */
	.socialLinks {
	padding-right: 20px;
	}
	/* -------------SHOWCASE ALI------------- */
	 h1 {
		font-size: 65px;
	}
	.showcase p {
		font-size: 18px;
		padding-right: 50px;
	}
	.card {
		height: 475px;
	}
	.slider {
		height: 425px;
	}
	.slides {
		height: 425px;
	}
/* -------------SHOWCASE-TYSON------------------------------ */
.card2 {
	height: 475px;
}
/* ------------------WHITE FLAG------------------------  */
.box {
	width: 375px;
	height: 469px;
}
/* ----------------SHOWCASE-PACQUIAO--------------------- */
.card3 {
	height: 475px;
}
/* ------------------RED FLAG------------------------  */
.redColumn2 {
	padding: 75px 100px 0 100px;
}
/* ---------------------FOOTER-------------------- */

.footer-column1 h4, .footer-column2 h4, .footer-column3 h4 {
	font-size: 30px;
}
.footer-column2 ul {
	margin: 20px 0;
}
.footer-column1, .footer-column2, .footer-column3 {
	padding: 100px 50px 0 100px;
}
.footer-column2 li, .footer-column2 h5, .footer-column3 p {
	font-size: 18px;
}
.footer-column1 img {
	width: 100%;
	margin: 20px auto;
}
}

/* ------------------MEDIA QUERY-LAPTOP---------------------- */

@media screen and (min-width: 1200px) and (max-width: 1400px) {

	/* -------------NAVBAR-------------------  */
	.navbar {
		padding: 0 30px;
	}
	.navbar a {
		padding: 0 10px;
		font-size: 20px;
	}
	.logo {
		width: 15%;
		padding-top: 75px;
	}

	/* -----------------socialLinks----------------  */
	.socialLinks {
	padding-right: 20px;
	}

	/* -------------SHOWCASE ALI--------------------  */

	.hero {
		height: 700px;
	}
	.showcase-text {
		padding: 50px 20px 0 0;
	}
	 h1 {
		font-size: 55px;
	}
	.showcase p {
		font-size: 18px;
		padding-right: 50px;
		line-height: 20px;
	}
	.card {
		height: 400px;
	}
	.slider {
		height: 350px;
	}
	.slides {
		height: 350px;
	}
	.container {
		margin-top: -50px;
	}
	/* css for manual slide navigation */
	.navigation-manual {
		margin: -30px 0 0 0;
	}

	/* ------------------GLOVES------------------------ */
	.gloves {
		height: 600px;
	}
	.cardGreen {
		width: 350px;
		height: 438px;
	}
	/* -------------SHOWCASE-TYSON------------------------------ */

	.showcase-2 {
		height: 700px;
	}
	.showcase2-text {
		padding: 300px 20px 0 20px;
	}
	.showcase-2 p {
		font-size: 18px;
		padding-right: 50px;
		line-height: 20px;
	}
	.card2 {
		height: 400px;
	}

	/* ------------------WHITE FLAG------------------------  */
	.whiteFlag {
		height: 800px;
	}
	.box {
		width: 350px;
		height: 438px;
		margin: 20px;
	}

	/* ----------------SHOWCASE-PACQUIAO--------------------- */
	.showcase-3 {
		height: 700px;
		background-position: center;
	}
	.showcase3-text {
		padding: 300px 0 0 0;
	}
	.showcase-3 p {
		font-size: 18px;
		padding-right: 50px;
		line-height: 20px;
	}

	.card3 {
		height: 400px;
	}

	/* ------------------RED FLAG------------------------  */
	.redColumn2 {
		padding: 75px 100px 0 100px;
	}

/* ---------------------FOOTER-------------------- */
	.footer-column1, .footer-column2, .footer-column3 {
		padding: 100px 50px 0 100px;
	}
	.footer-column1 h4, .footer-column2 h4, .footer-column3 h4 {
		font-size: 24px;
	}

	.footer-column2 ul {
		margin: 15px 0;
	}
	.footer-column2 li, .footer-column2 h5, .footer-column3 p {
		font-size: 16px;
	}
	.footer-column1 img {
		width: 100%;
		margin: 20px auto;
	}
}

/* ------------------MEDIA QUERY-	LARGE TABLET LANDSCAPE---------------------- */

@media screen and (min-width: 1000px) and (max-width: 1200px){
	/* -------------NAVBAR-------------------  */
	.navbar {
		padding: 0 20px;
	}
	.navbar a {
		padding: 0 10px;
		margin: 0;
		font-size: 18px;
	}
	.navbar a:hover {
		border-bottom: 4px solid red;
	}
	.logo {
		width: 15%;
		padding-top: 50px;
	}
	/* -----------------socialLinks----------------  */
	.socialLinks {
	padding-right: 15px;
	}
	.socialLinksList li {
		margin: 5px;
	}
	.socialLinksList li a {
		width: 30px;
		height: 30px;
	}
	/* -------------SHOWCASE ALI--------------------  */
	.hero {
		height: 600px;
	}
	.showcase-text {
		padding: 0 0 55px 0;
	}
	.showcase {
		height: 500px;
	}
	h1 {
		font-size: 46px;
	}
	.showcase p {
		font-size: 18px;
		line-height: 20px;
		padding-right: 20px;
	}
	.card {
		height: 350px;
		top: 10px;
	}
	button {
		height: 40px;
		width: 150px;
		font-size: 18px;
	}

	.slider {
		height: 300px;
	}
	.slides {
		height: 300px;
	}
	.slide {
		width: 24%;
		transition: 2s;
	}
	/* css for manual slide navigation */
	.navigation-manual {
		margin: -30px 0 0 0;
	}
	/* -----------------GREEN FLAG TITLE--------------  */
	.greenFlagTitle {
		height: 100px;
	}
	/* ------------------GLOVES------------------------ */
	.gloves {
		height: 600px;
	}
	.cardGreen {
		position: relative;
		width: 320px;
		height: 400px;
		margin: 20px 20px;
	}
	.imgBx img {
		max-width: 90%;
	}
	.cardGreen .imgBx h2 {
		font-size: 30px;
	}
	/* -------------SHOWCASE-TYSON------------------------------ */

	.showcase-2 {
		height: 600px;
	}
	.showcase2-text {
		padding: 120px 20px 0 20px;
	}
	.showcase-2 p {
		font-size: 18px;
		padding-right: 20px;
		line-height: 20px;
	}
	.card2 {
		height: 350px;
		top: 90px;
	}
	/* ------------------WHITE FLAG------------------------  */
	.whiteFlag {
		height: 800px;
	}
	.box {
		width: 300px;
		height: 480px;
		margin: 10px;
	}
	.box:before, .box:after {
		left: 50px;
	}
	.product {
		max-width: 250px;
	}
	/* ----------------SHOWCASE-PACQUIAO--------------------- */
	.showcase-3 {
		height: 600px;
	}
	.showcase3-text {
		padding: 100px 0 0 0;
	}
	.showcase-3 p {
		font-size: 18px;
		padding-right: 20px;
		line-height: 20px;
	}
	.card3 {
		height: 350px;
		top: 100px;
	}
	/* ------------------RED FLAG------------------------  */

	.redColumn2 {
		padding: 75px 50px 0 50px;
	}


	/* ---------------------FOOTER-------------------- */
	.showcase-4 {
		height: 600px;
	}
	.footer-column1, .footer-column2, .footer-column3 {
		padding: 100px 50px 0 100px;
	  height: 400px;
	}
	.footer-column1 h4, .footer-column2 h4, .footer-column3 h4 {
		font-size: 24px;
	}
	.footer-column2 ul {
		margin: 15px 0;
	}
	.footer-column2 li, .footer-column2 h5, .footer-column3 p {
		font-size: 16px;
	}
	.footer-column1 img {
		width: 100%;
		margin: 20px auto;
	}
	.footer-column3 input {
		width: 200px;
	}
}
